<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Sinatra Tutorial</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  <a href=news_form>記事投稿</a>・<a href=news_edit>編集</a><br>
  <a href=picture_form>画像投稿</a>・<a href=picture_edit>編集</a><br>

</body>
</html>
