<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PICTURE FORM</title>
  </head>
  <body>
    <form action="/picture_save" method="post" enctype="multipart/form-data">
      <input type="file" name="upimg"  required>
      <input type="submit" value="送信するぜ！">
    </form>
    <a href="/logout">ログアウト</a>
  </body>
</html>
